.form-control {
    margin-bottom: 5px;
}
div.navbar-text{
    margin-right: 15px;
}
li.borderless {
    border:none;
}
#profileBody {
    padding-top: 50px;
}
ul.list-group{
    padding-left: 10px;
}

.left-side-column{
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    height: 100%;
    border-right: 1px solid black;
}
.right-side-column{
    height: 100%;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    height: 100%;
}
nav.navbar.navbar-default{
    margin-bottom: 5px;
}
.row {
/*    overflow: hidden;*/
}