<!-- HEADER -->
<nav class="navbar navbar-fixed-top bg-primary">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">
                <span class="glyphicon glyphicon-plus">
                </span>
            </a>
        </div>
        <div class="navbar-text pull-left">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                <span class="glyphicon glyphicon-arrow-left">
                </span>
            </a>
        </div>
        <div class="navbar-header">
            <div class="navbar-brand">
                Widgets
            </div>
        </div>
    </div>
</nav>