<nav class="navbar navbar-fixed-top bg-primary">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a ng-click="model.updateWidget('YOUTUBE')" class="navbar-link">
                <span class="glyphicon glyphicon-ok">
                </span>
            </a>
        </div>
        <div class="navbar-text pull-left">
            <a href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                <span class="glyphicon glyphicon-arrow-left">
                </span>
            </a>
        </div>
        <div class="navbar-header">
            <div class="navbar-brand">
                Widget Edit
            </div>
        </div>
    </div>
</nav>

<!-- CONTENT -->
<div class="container-fluid">

    <form class="pad-left">
        <p for="name">Name
        <input type="text" id="name" placeholder="eg: Shubham" class="form-control" ng-model="model.name" required>
            <span style="color: red" ng-show="model.widgetename">Name is required.</span>
        </p>

        <p for="text">Text
        <input type="text" id="text" class="form-control" placeholder="enter info here" ng-model="model.text">
        </p>

        <p for="url">URL
        <input type="url" id="url" class="form-control" ng-model="model.url" required>
            <span style="color: red" ng-show="model.widgeturl">URL is required.</span>
        </p>

        <p for="width">Width
        <input id="width" type="text" class="form-control" ng-model="model.width" required />
            <span style="color: red" ng-show="model.widgetwidth">Width is required.</span>
        </p>

        <a ng-click="model.deleteWidget()" class="form-control btn btn-danger">Delete</a>
    </form>
</div>