<nav class="navbar navbar-fixed-top bg-primary">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a ng-click="model.updateWidget('HEADING')" class="navbar-link">
                <span class="glyphicon glyphicon-ok">
                </span>
            </a>
        </div>
        <div class="navbar-text pull-left">
            <a href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                <span class="glyphicon glyphicon-arrow-left">
                </span>
            </a>
        </div>
        <div class="navbar-header">
            <div class="navbar-brand">
                Widget Edit
            </div>
        </div>
    </div>
</nav>

<!-- CONTENT -->
<div class="container-fluid">
    <form class="pad-left">

        <p for="name">Name
        <input type="text" required id="name" placeholder="eg: Shubham" class="form-control" ng-model="model.name">
            <span style="color: red" ng-show="model.widgetename">Name is required.</span>
        </p>

        <p for="text">Text
        <input required type="text" id="text" class="form-control" ng-model="model.text">
            <span style="color: red" ng-show="model.widgettext">Name is required.</span>
        </p>

        <p for="size">Size
        <input required type="number" id="size" max="6" min="0" class="form-control" ng-model="model.size">
            <span style="color: red" ng-show="model.widgetsize">Size is required.</span>
        </p>

        <a ng-click="model.deleteWidget()" class="form-control btn btn-danger">Delete</a>
    </form>
</div>
