<!-- HEADER -->
<nav class="navbar navbar-fixed-top bg-primary">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href='#!/website/new'  class="navbar-link">
                <span class="glyphicon glyphicon-plus">
                </span>
            </a>
        </div>
        <div class="navbar-text pull-left">
            <a href="#!/profile" class="navbar-link">
                <span class="glyphicon glyphicon-arrow-left">
                </span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">
                <p>Websites</p>
            </a>
        </div>
    </div>
</nav>


<!-- CONTENT -->
<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat="website in model.websites" class="list-group-item borderless">
            <a href='#!/website/{{website._id}}/page' class="navbar-link">
                {{website.name}}
            </a>
            <a href="#!/website/{{website._id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog">
                </span>
            </a>
        </li>
    </ul>
</div>


<!-- FOOTER -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#!/profile">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>